<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <table>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.content %>
          <% unless post.tags.first.nil? %>
            <mark><%= post.tags.first.title %></mark>
          <% end %>
          <%= link_to "Show", post %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New post", new_post_path %>
